    <p>To send <b><%= @coin_name%></b> to <%= RECIPIENT %>, use this address:</p>

    <div class="address">
      <input type="input" value="<%= @address %>" size="<%= @address.length %>"/>

      <table class="qr">
      <% @qr.modules.each_index do |x| %>
        <tr class="qr">
        <% @qr.modules.each_index do |y| %>
         <% if @qr.dark?(x,y) %><td class="qr black"/><% else %><td class="qr white"/><% end %>
        <% end %>
        </tr>
      <% end %>
      </table>
    </div>

    <p>This address is uniquely generated for you. Use it as many times a you like, or you can generate a new address each time you donate.</p>
