<form action="<%= request.path_info %>btc" method="post">
  <b>Bitcoin address</b> <input type="submit" value="Generate">
</form>

<form action="<%= request.path_info %>btc-segwit" method="post">
  <b>Bitcoin SegWit address</b> <input type="submit" value="Generate">
</form>

<form action="<%= request.path_info %>fair" method="post">
  <b>Faircoin address</b> <input type="submit" value="Generate">
</form>

<form action="<%= request.path_info %>bch" method="post">
  <b>BCash address</b> <input type="submit" value="Generate">
</form>